body{
    margin: 0px;
}
.header{
    background: url("Group.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: fixed;
    
}
.header nav{
    /* background: green; */
    width: 90%;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
}
.header ul{
    float: right;
    margin-right: 67px;
}
.header ul li{
    float: left;
    margin-right: 35px;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.logo{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 67px;
}
.p-header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 45px;
    margin-top: 60px;
}

.p-body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 15px;
    margin-top:-30px;
    color: #fff;
    line-height: 30px;
    /* font-size: 45px; */
    /* margin-top: 100px; */
}
.button-container{
    width: 100%;
    height: 40px;
    /* background: green; */
}
.download-button{
    width: 250px;
    height: 35px;
    background-color: #3570c9ff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-content: center;
    color: #fff;
    border: none;
    border-radius:4px;
    margin-left:557px;
}
.download-button:hover{
    background-color: rgb(9, 54, 121);
}
